*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.App > p{
  margin-top: 2%;
}
.App > button{
  padding: 1% 2%;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 1%;
  cursor: pointer;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.row > button {
  padding: 1% 2%;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 1%;
  cursor: pointer;
  background-color: rgb(23, 151, 78);
}

.row > input{
  height: 60px;
  width: 60px;
  text-align: center;
}

.row > input:focus{
  outline-color: rgb(37, 77, 255);
}

button{
  box-shadow: 0 3px 5px grey;
}